<script src="js/search/layout.js"></script>
<link rel="stylesheet" href="css/search.css"/>
<script src="js/search/<%- file %>.js"></script>
<div id="search_wrapper">
    <div>
        <%- include(`${file}`); %>
    </div>
    <div>
        <%- include("../list/layout", {
            "puzzles" : puzzles
        }); %>
    </div>
    <div class="indexer">
        <% let queries = "";

        for (let i in form) queries += `${i}=${form[i]}&` %>

        <% if (page > 10) { %>
            <div id="leftleft" class="arrow hover enabled"><a href=<%- `?${queries}page=${page - ((page - 1) % 10) - 10}` %>>&#8810;</a></div>
        <% } else { %>
            <div id="leftleft" class="arrow"><a>&#8810;</a></div>
        <% } %>
        <% if (page > 1) { %>
            <div id="left" class="arrow hover enabled"><a href=<%- `?${queries}page=${page - 1}` %>>&lt;</a></div>
        <% } else { %>
            <div id="left" class="arrow"><a>&lt;</a></div>
        <% } %>
        <ul>
            <% for (let i = page - ((page - 1) % 10); i <= Math.min(page - ((page - 1) % 10) + 9, max_page); ++i) {
                if (i === page) { %>
                    <li class="selected"><a><%- i %></a></li>
                <% } else { %>
                    <li class="hover"><a href=<%- `?${queries}page=${i}` %>><%- i %></a></li>
                    
                <% }
            } %>
        </ul>
        <% if (page < max_page) { %>
            <div id="right" class="arrow hover enabled"><a href=<%- `?${queries}page=${page + 1}` %>>&gt;</a></div>
        <% } else { %>
            <div id="right" class="arrow"><a>&gt;</a></div>
        <% } %>
        <% if (page < max_page - (max_page - 1) % 10) { %>
            <div id="rightright" class="arrow hover enabled"><a href=<%- `?${queries}page=${page - ((page - 1) % 10) + 10}` %>>&#8811;</a></div>
        <% } else { %>
            <div id="rightright" class="arrow"><a>&#8811;</a></div>
        <% } %>
    </div>
</div>